body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

div {
    height: 200px;
    width: 400px;
    
    position: fixed;
    top: 55%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}